iframe{
    margin-bottom: 30px;

}

body {
    background-color: #e25098;
    font-family: 'moms_typewriter', sans-serif; /* Use it as the first option */
}

.card {
    margin-top: 10px;
    margin-bottom: 30px;
    border: whitesmoke;
    border-style: solid;
    border-width: 20px;
    background-color: whitesmoke;
}

.banner {
    margin-top: 20px;
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #79a6e5ff, #ecdc10ff);
    background: linear-gradient(to right, #79a6e5ff, #ecdc10ff);
    border: whitesmoke;
    border-style: solid;
    border-width: 10px;
}


#bannergraphics {
    width: 90%;
}

#gallery {
    column-count: 4;
    column-gap: 10px;
}

#gallery img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    break-inside: avoid;
}

/* Apply grayscale filter only for non-touch devices with a fine pointer, assumed to be desktops */
@media (hover: hover) and (pointer: fine) {
    #gallery img {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    #gallery img:hover {
        filter: grayscale(0);
    }
}
@font-face {
    font-family: 'alt_typewriter'; /* Give your font a name */
    src: url('./font/OldNewspaperTypes.ttf') format('truetype'); /* Path to your .ttf file */
  }
    
@font-face {
    font-family: 'moms_typewriter'; /* Give your font a name */
    src: url('./font/Mom«t___.ttf') format('truetype'); /* Path to your .ttf file */
  }
  .alternate-font {
    font-family: Arial, sans-serif; /* Fallback to sans-serif if Arial is not available */
  }
  
  a {
    color: #e25098;
  }
#alt_font{
font-family: alt_typewriter !important;
}
