

body {
    background: #f4f4f4;
  }
  
  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #e25098, #ffff00);
    background: linear-gradient(to right, #e25098, #ffff00);
  }
  a {
    color: whitesmoke !important;
    text-decoration: underline !important;

  }